.container-atendimento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.container-botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}
    .botoes-atendimento{
        height: 35px;
        width: 200px;
        border: solid 1px var(--cor-5);
        background-color: var(--cor-1);
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        font-family: monospace;
        color: var(--cor-2);
        cursor: pointer;
        box-shadow: 0 0 8px 4px var(--cor-1);
    }
        .botoes-atendimento:hover{
            background-color: var(--cor-2);
            color: var(--cor-1);
            font-weight: bolder;
            border-color: var(--cor-1);
        }

        .container-normal{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            width: 30%;
        }
            .senhas-normais{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 50px;
                border: solid 2px var(--cor-1);
                background-color: darkgreen;
                color: var(--cor-2);
                font-size: 18px;
                font-family: monospace;
                font-weight: bolder;
                gap: 10px;
                border-radius: 15px;
            }

        .container-preferencial{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            width: 30%;
        }
            .senhas-preferenciais{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 170px;
                height: 50px;
                border: solid 2px var(--cor-1);
                background-color: rgb(184, 35, 35);
                color: var(--cor-2);
                font-size: 18px;
                font-family: monospace;
                font-weight: bolder;
                gap: 10px;
                border-radius: 15px;
            }

        .container-atender{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            width: 40%;
        }

        .atendimento-vazio{
            display: none;
        }