.container-componente-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.imagem-conceito{
    height: 150px;
    width: 150px;
}