.container-componente-media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.imagem-conceito{
    height: 250px;
    width: 250px;
}