.nav-container{
    margin-top: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.app-container{

    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.botoes-navegacao{
    height: 40px;
    width: 40px;
    border: 1px solid #222;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}
    .botoes-navegacao:hover{
        height: 40px;
        width: 40px;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        background-color: darkcyan;
        cursor: pointer;
        transition: 0.5s;
    }

.paginas-container{
    margin-top: 5px;
    height: 100%;
}