.container-farmarcia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--cor-6);
}
    .logo-farmarcia{
        height: 70px;
        width: 70px;
        margin-left: 15px;
    }

    .placa-farmarcia{
        height: 60px;
        width: 70px;
        margin-right: 15px;
    }

    dialog{
        border: none;
        border-radius: 20px;
        width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* box-shadow: inset 0 0 8px 4px #e0138c; */
    }

    .sobre-marcia{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 8px;
        padding-right: 8px;
        gap: 7px;
        border: solid 1px #000;
        border-radius: 20px;
        background-color: var(--cor-2);
        box-shadow: inset 0 0 8px 4px #e0138c;
    }

        .botao-sobre{
            height: 30px;
            width: 150px;
            border: solid 1px var(--cor-2);
            border-radius: 10px;
            font-size: 16px;
            font-family: monospace;
            font-weight: bold;
            color: var(--cor-2);
            cursor: pointer;
        }
            .botao-sobre:hover{
                background-color: var(--cor-2);
                color: var(--cor-3);
            }

            .imagem-marcia{
                height: 130px;
                width: 120px;
            }

            .botao-fechar-caixa{
                height: 25px;
                width: 70px;
                border: solid 1px var(--cor-1);
                border-radius: 10px;
                background-color: darkred;
                color: var(--cor-2);
                font-size: 15px;
                font-family: cursive;
                font-weight: bolder;
                margin-bottom: 5px;
                cursor: pointer;
            }

            .texto-marcia{
                font-size: 12px;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                font-weight: bold;
            }

.container-visual{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .imagem-farmarcia{
        height: 300px;
        width: 500px;
    }

    .botao-produtos{
        height: 30px;
        width: 150px;
        border: solid 2px var(--cor-1);
        color: var(--cor-3);
        border-radius: 10px;
        font-size: 15px;
        font-family: monospace;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 15px;
    }
        .botao-produtos:hover{
            height: 35px;
            width: 155px;
            background-color: var(--cor-1);
            border-color: var(--cor-5);
            color: var(--cor-2);
            font-weight: bolder;
            transition: 2ms;
        }

.div-botoes-produtos-atendimento{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.div-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.div-atendimento{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}